.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Rplot.png
Rplot01.png
Thalamayer_etal_AmericanPsychologist_2020.pdf
Thalmayer_etal2020_N95 revisited_PostPrint.pdf
busara.Rmd
busara.html
busara2.html
busara_old.Rmd
busara_old2.Rmd
busara_report.Rmd
busara_report.html
d.fls.rds
data
hours.xlsx
neglected95arnettap2008.pdf
notes.R
prototype.R
sodium
testing.R
waffle.gif
world-universities.csv
~$hours.xlsx
