.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Rplot.png
Rplot01.png
Thalamayer_etal_AmericanPsychologist_2020.pdf
Thalmayer_etal2020_N95 revisited_PostPrint.pdf
busara.Rmd
busara.html
busara2.html
busara_old.Rmd
busara_old2.Rmd
busara_report.Rmd
busara_report.html
d.fls.rds
neglected95arnettap2008.pdf
notes.R
prototype.R
sodium
testing.R
waffle.gif
world-universities.csv
~$hours.xlsx
busara_over_years.html
invoice.pdf
invoice.Rmd
invoice_1002_Aout2023.pdf
invoice_Vincent.Rmd
serenade.R
DT_tables_host
busara_files
invoice_1000_August2023.Rmd
invoice_1000_August2023.pdf
invoice_1004_September2023.pdf
