.big_center {
  font-size: 3.5em;
  color: #2780E3;
  font-weight: bold;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  text-align: center;
  align-items: center;
  height: 350px;
}

.big_center_copy {
  font-size: 3.5em;
  color: #2780E3;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.original {
  color: #78C2AD;
  color: #2780E3;
  color: #61ADCB;
}

.chart-wrapper { overflow-x: scroll; }
